.hidden {
	display: none;
}
.radioSet input {
    display: none;
}
.radioSet.ng-scope {
    display: inline-block;
    margin-right: 1em;
}
fieldset.currencyList {
    width: 15em;
    margin: auto;
    text-align: center;
}
button.nextBtn {
    width: 30%;
    height: 2em;
    border-radius: 0.25em;
    font-size: 1.5em;
    margin-left: 35%;
}
:checked + label {
   color: blue;
}