body {
    font-family: 'Kanit',sans-serif;
} 
a {
    color: #4bab9f;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

/* Major View Elements */
.container {
    min-width: 300px;
    box-shadow: 1px 1px 5px #00000080;
    width: 30%;
    text-align: center;
    margin: auto;
    margin-top: 20vh;
}
.container h1 {
    text-transform: uppercase;
    font-size: 1.25em;
    margin-bottom: 0;
}

/* Amount Entry Fields */
.amountEntry {
    text-align: center;
    padding: 1em;
}

.amountEntry .left {
    float: left;
    max-width: 40%;
    display: inline-flex;
}
.amountEntry .left input {
    width: 100%;
    margin-left: -1.5em;
    padding-right: 0.5em;
    font-weight: 600;
}
span.dollarSign {
    padding-right: 0.5em;
    z-index: 1;
    color: lightgrey;
}
.amountEntry i {
    display: inline-flex;
    padding-left: 0.5em;
    padding-right: 0.5em;
    float: left;
    font-size: 1.25em;
}
.amountEntry .right {
    float: left;
    max-width: 40%;
    display: inline-flex;
}
.amountEntry .right input {
    max-width: calc(100% - 1.5em);
    padding-left: 2.5em;
    padding-right: 0;
}
.nameAndEmail input {
    width: calc(100% - 2em);
    margin: 1em;
    margin-bottom: 0;
}
.right.disabled input {
    color: lightgrey !important;
    border: dotted 1px lightgrey !important;
}
.amountEntry input {
    text-align: right;
}
span.altCurrencyCode {
    z-index: 1;
    left: 0;
    color: lightgrey;
    font-size: 0.85em;
    padding-left: 0.25em;
    padding-top: 0.05em;
}
.amountEntry .right input {
    padding-left: 3em;
    padding-right: 0.25em;;
    position: absolute;
    width: 6em;
}

/* Dropdown */
.currencySelectDropdown {
    margin-top: 1em;
}
.currencySelectDropdown input {
    display: inline-flex;
    width: calc(100% - 3.5em);
    margin-left: 1em;
}
select {
    width: 1.5em;
    display: inline-flex;
    margin-right: 1em;
    margin-left: -1.5em;
    padding: 0.1em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}

/* clickAndSubmit */
.clickAndSubmit .topRow {
    text-align: left;
    padding: 0.6em;
}
label.checkbox-label {
    font-size: 0.85em;
    vertical-align: text-top;
}
.bottomRow .left {
    width: 90%;
    margin: auto;
}
button.submitDonation {
    width: 90%;
    height: 2em;
    font-size: 1.25em;
    text-transform: uppercase;
    background: #0c74a8;
    color: white;
    font-weight: bolder;
    margin-bottom: 1em;
    border: none;
}


.hidden {
    display: none !important;
}



/* QR Code view */
.backButton {
    text-align: left;
    padding: 1em;
}
.qrCodeView h1 {
    position: relative;
    width: 80%;
    margin: auto;
    margin-top: -2em;
}

a.walletLink {
    display: block;
    padding: 1em;
}



span.copySuccessMessageFlat {
    display: block;
    padding: 0.5em;
}



.securePaymentsMessage img {
    width: 90%;
    margin: auto;
}





/*
@media only screen and (max-width: 800px) {
    .container {
        width: 100vw;
        overflow: hidden;
        height: -webkit-fill-available;
    }
}*/