body {
    font-family: 'Kanit',sans-serif;
  background: url(https://static.theblockchaininstitute.org/misc/Donations_Header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;    
} 
a {
    color: #4bab9f;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

/* Major View Elements */
.container {
    min-width: 300px;
    border: solid 0.1px lightgrey;
    width: 30%;
    text-align: center;
    margin: auto;
    margin-top: 10vh;
    background: white;
}
.container h1 {
    text-transform: uppercase;
    font-size: 1.25em;
    margin-bottom: 0;
    line-height: 0.95em;
    padding: 0.25em;
}

/* Amount Entry Fields */
.amountEntry {
    text-align: center;
    position: relative;
    width: calc(100% - 4.5em);
    margin: auto;
    margin-top: 1em;
}
.amountEntry .left {
    float: left;
    max-width: 40%;
    display: inline-flex;
    position: relative;
    width: 40%;
}
.amountEntry .left input {
    width: 100%;
    margin-left: -1.75em;
    padding-right: 0.5em;
    font-weight: 600;
    padding-left: 1.5em;
    position: absolute;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}
span.dollarSign {
    padding-right: 0.5em;
    z-index: 1;
    color: lightgrey;
    float: left;
    position: relative;
    margin-left: -1em;
}
.amountEntry i {
    display: inline-flex;
    padding-left: 0.65em;
    padding-right: 0.25em;
    font-size: 1.35em;
    position: relative;
    vertical-align: text-top;
}
.amountEntry .right {
    float: right;
    max-width: 40%;
    display: inline-flex;
    position: relative;
    width: 40%;

}

.amountEntry .right input {
    padding-left: 3em;
    padding-right: 0.25em;
    position: absolute;
    width: calc(100% - 1.75em);
    min-height: calc(100% - 0.25em);
}
.nameAndEmail input {
    width: calc(100% - 2.75em);
    margin: 1em;
    margin-bottom: 0;
    padding: 0.25em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}
.right.disabled input {
    color: lightgrey !important;
    border: dotted 1px lightgrey !important;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    min-height: unset;
}
.amountEntry input {
    text-align: right;
}
span.altCurrencyCode {
    z-index: 1;
    left: 0;
    color: lightgrey;
    font-size: 0.85em;
    padding-left: 0.25em;
    padding-top: 0.25em;
}

/* Dropdown */
.currencySelectDropdown {
    margin-top: 1em;
}
.currencySelectDropdown input {
    display: inline-flex;
    width: calc(100% - 3.5em);
    margin-left: 1em;
}

select {
    display: inline-flex;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    background-image: url(https://static.theblockchaininstitute.org/misc/squarrow.png);
    background-size: 2em 1.65em;
    background-position: left;
    background-repeat: no-repeat;
    height: 2.25em;
    text-align: center;
    border: 0.5px solid darkgrey;
    width: calc(100% - 1.95em);
    margin: auto;
    margin-top: 1em;
    margin-left: 0em;
    text-align-last: center;
}

/* clickAndSubmit */
.clickAndSubmit .topRow {
    text-align: left;
    padding: 0.6em;
}
label.checkbox-label {
    font-size: 0.85em;
    vertical-align: text-top;
}
.bottomRow .left {

    width: 90%;
    margin: auto;
}
button.submitDonation {
    width: 90%;
    height: 2em;
    font-size: 1.25em;
    text-transform: uppercase;
    background: #003449;
    color: white;
    font-weight: bolder;
    margin-bottom: 1em;
    border: none;
}

span.error {
    color: red;
    font-size: 0.75em;
    margin-left: 1em;
    margin-right: 1em;
}

.hidden {
    display: none !important;
}



/* QR Code view */
.backButton {
    text-align: left;
    padding: 1em;
}
.qrCodeView h1 {
    position: relative;
    width: 80%;
    margin: auto;
    margin-top: -2em;
}

a.walletLink {
    display: block;
    padding: 1em;
}



span.copySuccessMessageFlat {
    display: block;
    padding: 0.5em;
}



.securePaymentsMessage img {
    width: 90%;
    margin: auto;
}

span.currencyAlt {
    color: gray;
    display: block;
}


label.checkbox-label {
    font-size: 0.75em;
    vertical-align: text-top;
    text-transform: uppercase;
}

.recaptchaContainer {
    transform:scale(0.89);
    -webkit-transform:scale(0.89);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
}

.loader {
    max-width: 100% !important;
    height: 100%;
    width: 100%;
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.loader img {
    width: calc(100% - 2em);
    padding: 1em;
    margin: auto;
}



@media only screen and (max-width: 800px) {
    .container, .formView, body {
        width: 100vw !important;
        height: 100vh !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    .recaptchaContainer {
        transform:scale(0.65);
        -webkit-transform:scale(0.65);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }
    .container h1 {
        font-size: 1.75em;
    }

}