body {
    font-family: 'Kanit',sans-serif;
} 
.hidden {
	display: none;
}
.radioSet input {
    display: none;
}
.radioSet.ng-scope {
    display: inline-block;
    margin-right: 1em;
}
fieldset.currencyList {
    width: 15em;
    margin: auto;
    text-align: center;
    border-color: transparent;    
}

:checked + label {
   color: blue;
}
.currencySelectButton.ng-scope {
    display: inline-block;
    margin: 0.5em;
    width: 5em;
}
button.currencySelect {
    width: 100%;
    border-radius: 0.5em;
}
i.cc {
    font-size: 3em;
}
input#search {
    width: 100%;
    height: 1.5em;
    font-size: 1.5em;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}
.container {
    text-align: center;
    width: 80%;
    margin: auto;
}
fieldset {
    border: transparent;
}
input#taxReceiptCheckBox {
    height: 1.5em;
}

/* Cash payments screen */
span.currencyTypeLabel {
    position: relative;
    margin-right: -20px;
    font-size: 1.25em;
}
input.donationAmount {
    padding-left: 20px;
    text-align: left;
    font-size: 1.25em;
}
button.submitDonation {
    padding: 2em;
    border-radius: 5px;
    width: 30%;
    font-size: 0.75em;
    display: block;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 1em;
    text-transform: uppercase;
    background-color: darkseagreen;
}
.securePaymentsMessage img {
    max-width: 400px;
    width: 25em;
    margin: auto;
    display: block;
}

/* Mode Selection */
.modeSelectButton:hover i {
    background-color: #2fd151;
    color: black;
}

.modeSelectButton:hover h3 {
    color: #2fd151;
}
.modeSelectButton {
    display: inline-block;
    width: 30%;
}
button.radioSet.modeSelect {
    width: 70%;
    display: inline-block;
    border-radius: 5px;
}
.modeSelect i {
    background-color: black;
    padding: 1em;
    border-radius: 5em;
    color: white;
    font-size: 1.5em;
    padding-left: 1.2em;
    padding-right: 1.2em;
}
.modeSelect h3 {
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 0.35em;
}

/* Currency Select */
button.currencySelect:hover i, button.currencySelect:hover h3, .radioSet.currencySelect.selected i, .radioSet.currencySelect.selected h3 {
    color: #2fd151;
}

button.currencySelect.selected {
    border: solid #2fd151;
}
button {
    outline: none;
}


/* Recaptcha */
.ng-isolate-scope {
    width: 30%;
    margin: auto;
}

button.nextBtn {
    width: 30%;
    height: 2em;
    border-radius: 0.25em;
    font-size: 1.25em;
    margin-bottom: 1em;
    text-transform: uppercase;
}

/* Stripe */
button.submitDonation {
    padding: 0.25em;
    border-radius: 5px;
    width: 30%;
    font-size: 1.5em;
    display: block;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 0.25em;
    text-transform: uppercase;
    background-color: #1073aa;
    color: white;
    font-weight: 600;
    text-decoration: none;
}
.stripe a {
    text-decoration: none;
}
.emailInput {
    width: 15em;
    height: 1.5em;
    font-size: 1.25em;
    margin-top: 1em;
    padding-left: 0.4em;
}

.donationAmountInput {
    display: block;
    margin: auto;
    margin-bottom: 1em;
}

